<section class="all-home-component">
  <div class="home-component">
    <!-- WAY logo -->
    <app-way-logo></app-way-logo>

    <!-- <h1>Who are you ?</h1> -->
    <p class="catchphrase">Discover which manga character you are !</p>

    <div class="card-container" routerLink="/death-note">
      <div class="card death-note">
        <span>DEATH NOTE</span>
      </div>
    </div>

    <div class="card-container" routerLink="/dragon-ball">
      <div class="card dragon">
        <span>DRAGON BALL Z</span>
      </div>
    </div>

    <div class="card-container" routerLink="/kimetsu-no-yaiba">
      <div class="card kimetsu">
        <span>KIMETSU NO YAIBA (DEMON SLAYER)</span>
      </div>
    </div>

    <div class="card-container" routerLink="/one-piece">
      <div class="card one-piece">
        <span>ONE PIECE</span>
      </div>
    </div>

    <p class="by-ngocle">
      © 2020 by <a href="https://www.ngocle.fr">NgocLe</a>
    </p>

    <!--     <button mat-mini-fab [color]="'color-button'">
      <a href="https://www.ngocle.fr"
        ><i class="material-icons">
          perm_device_information
        </i></a
      >
    </button> -->
  </div>
</section>
