<section class="all-home-component">
  <div class="home-component">
    <!-- WAY logo -->
    <app-way-logo></app-way-logo>

    <div class="policy">
      <h4>Policy and Terms of use</h4>
      <p>
        This website has been created and developped by
        <a href="https://www.ngocle.fr">Ngoc Le</a>.
      </p>
      <p>
        The questions and answer were written by Ngoc Le and are not free of
        use.
      </p>
      <p>
        The characters presentations are from wikipedia.
      </p>
      <p>
        The images of whoareyou.eu are free of use and were found on
        <a href="www.pixabay.com">www.pixabay.com</a>.
      </p>
      <p>
        Icons are from :
      </p>
      <ul>
        <li>
          Icons made by
          <a href="https://www.flaticon.com/authors/freepik" title="Freepik"
            >Freepik</a
          >
          from
          <a href="https://www.flaticon.com/" title="Flaticon"
            >www.flaticon.com</a
          >
        </li>

        <li>
          <a href="https://icones8.fr">www.icones8.fr</a>
        </li>
      </ul>

      <p>
        For more information, please contact
        <a href="https://www.ngocle.fr/#/contact">Ngoc</a>
      </p>
    </div>
    <div>
      <button mat-raised-button color="primary" routerLink="/home">
        Go back to homepage
      </button>
    </div>
  </div>
</section>
